* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
body {
  font-size: 14px;
  height: 100%;
  position: relative;
}
body * {
  background: #fff;
}
img {
  width: 100%;
}
figure,
picture {
  display: block;
}
form *,
main * {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
strong * {
  font-weight: 600;
}
li {
  list-style-type: none;
}
figcaption,
figure {
  text-align: center;
}
.disc li {
  list-style: disc;
}
/**
 * CSS colors
 *
 */
html {
  --border-color: grey;
  --color-lighter: #3d3d3d;
  --color-primary: #2b2a2a;
  --color-secondary: #636363;
  --blue: #008cff;
  --darkblue: #252544;
  --darkgreen: #117504;
  --darkgrey: #5a5a5a;
  --darkorange: #ff711f;
  --darkyellow: #ffe100;
  --green: #19a706;
  --grey: #cecece;
  --lavender: #f4f4fc;
  --lightblue: #9fd4ff;
  --lightgreen: #41ff28;
  --lightgrey: #f0f0f0;
  --lightred: #ff2600;
  --lightyellow: #ffff83;
  --orange: #ffa114;
  --red: #ff2600;
  --white: white;
  --xlightblue: #ccebff;
  --xlightgreen: #afffa5;
  --xlightgrey: #f0f0f0;
  --xlightred: #ff2600;
  --yellow: yellow;
}
/**
 * Borders
 *
 */
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
.border-left {
  border-left: 1px solid var(--border-color);
}
.border-right {
  border-right: 1px solid var(--border-color);
}
.border-top {
  border-top: 1px solid var(--border-color);
}
.border-both {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.bordered,
.border-all {
  border: 1px solid var(--border-color);
}
.no-border,
.no-border:focus {
  border: none !important;
  outline: none;
}
.rounded {
  border-radius: 3px;
}
div.circle,
img.circle,
.circle {
  border-radius: 50%;
}
.blue-border {
  border-color: var(--blue);
}
.green-border {
  border-color: var(--green);
}
.red-border {
  border-color: var(--red);
}
/**
 * Effects
 *
 */
.opacity-10 {
  opacity: 0.1;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-30 {
  opacity: 0.3;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-70 {
  opacity: 0.7;
}
.opacity-80 {
  opacity: 0.8;
}
/**
 * Fonts & texts
 *
 */
* {
  color: var(--color-primary);
  --font-size: 14px;
}
a:hover,
.a:hover {
  text-decoration: underline;
}
a,
.a,
.pointer,
[role="button"] {
  cursor: pointer;
}
p {
  margin-top: 0.5rem;
}
.b {
  font-weight: 800;
}
.i {
  font-style: italic;
}
.u {
  text-decoration: underline;
}
.line-through,
.through {
  text-decoration: line-through;
}
.cblue,
.cblue * {
  color: var(--blue);
}
.cdarkblue,
.cdarkblue * {
  color: var(--darkblue);
}
.cgreen,
.cgreen * {
  color: var(--green);
}
.cgrey,
.cgrey * {
  color: var(--grey);
}
.corange,
.corange * {
  color: var(--darkorange);
}
.cred,
.cred * {
  color: var(--red);
}
.cyellow,
.cyellow * {
  color: var(--yellow);
}
.cwhite,
.cwhite * {
  color: white;
}
.cnone,
.cnone:active,
.cnone:focus,
.cnone * {
  color: transparent;
}
.ind-2 {
  text-indent: 2%;
}
.ind-5 {
  text-indent: 5%;
}
.ind-10 {
  text-indent: 10%;
}
.x2 {
  font-size: calc(var(--font-size) * 2);
}
.x-125 {
  font-size: calc(var(--font-size) * 125 / 100);
}
.x-150 {
  font-size: calc(var(--font-size) * 150 / 100);
}
.to-lowercase,
.to-lowercase * {
  text-transform: lowercase;
}
.to-uppercase,
.to-uppercase * {
  text-transform: uppercase;
}
@media (min-width: 420px) {
  .title {
    font-size: 1.25rem;
  }
}
/*** Fonts / texts ****************************************************/
p.main,
span.main,
h1.main,
h2.main,
h3.main,
h4.main,
h5.main {
  font-weight: 700;
}
p.error,
span.error,
h1.error,
h2.error,
h3.error,
h4.error,
h5.error,
p.warn,
span.warn,
h1.warn,
h2.warn,
h3.warn,
h4.warn,
h5.warn {
  color: var(--red);
  font-style: italic;
  font-weight: 700;
}
p.warn,
span.warn,
h1.warn,
h2.warn,
h3.warn,
h4.warn,
h5.warn {
  color: var(--color-lighter);
}
p.warn.cblue,
span.warn.cblue,
h1.warn.cblue,
h2.warn.cblue,
h3.warn.cblue,
h4.warn.cblue,
h5.warn.cblue {
  color: var(--blue);
}
p.warn.cgreen,
span.warn.cgreen,
h1.warn.cgreen,
h2.warn.cgreen,
h3.warn.cgreen,
h4.warn.cgreen,
h5.warn.cgreen {
  color: var(--green);
}
p.warn.cred,
span.warn.cred,
h1.warn.cred,
h2.warn.cred,
h3.warn.cred,
h4.warn.cred,
h5.warn.cred {
  color: var(--red);
}
p.warn.cwhite,
span.warn.cwhite,
h1.warn.cwhite,
h2.warn.cwhite,
h3.warn.cwhite,
h4.warn.cwhite,
h5.warn.cwhite {
  color: var(--white);
}
p.warn.cyellow,
span.warn.cyellow,
h1.warn.cyellow,
h2.warn.cyellow,
h3.warn.cyellow,
h4.warn.cyellow,
h5.warn.cyellow {
  color: var(--yellow);
}
.color-access {
  color: var(--blue);
}
.color-active,
.color-success {
  color: var(--green);
}
.color-error,
.color-inactive {
  color: var(--red);
}
.color-warn,
.color-warning {
  color: var(--orange);
}
article.bg-active,
div.bg-active,
section.bg-active,
.bg-active,
.bg-active * {
  background-color: var(--lightblue);
}
.bg-active-container,
.bg-active-container *,
.bg-lightblue,
.bg-lightblue * {
  background-color: var(--lightblue);
}
.bg-dark,
.bg-dark * {
  background: var(--color-lighter);
}
.bg-lavender,
.bg-lavender * {
  background: var(--lavender);
}
.bg-transparent *,
.bg-transparent,
.no-bg *,
.no-bg {
  background: transparent;
}
.bg-yellow,
.bg-yellow * {
  background: var(--lightyellow);
}
.bg-white,
.bg-white * {
  background: var(--white);
}
.bg-xlightblue,
.bg-xlightblue * {
  background-color: var(--xlightblue);
}
.fill-blue * {
  fill: var(--blue);
}
.fill-grey * {
  fill: var(--grey);
}
.fill-green * {
  fill: var(--green);
}
.fill-red * {
  fill: var(--red);
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.center-content *,
.center-content,
.left-content .center-content,
.right-content .center-content {
  text-align: center;
}
.center-content .left-content,
.right-content .left-content,
.left-content,
.left-content * {
  text-align: left;
}
.center-content .right-content,
.left-content .right-content,
.right-content,
.right-content * {
  text-align: right;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.row {
  margin: 1rem auto;
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}
.bottom-left-position {
  display: flex;
  justify-content: flex-start;
}
.top-left-position {
  display: flex;
  justify-content: flex-start;
}
.bottom-right-position {
  display: flex;
  justify-content: flex-end;
}
.top-right-position {
  display: flex;
  justify-content: flex-end;
}
.two-cols {
  display: flex;
  flex-direction: column;
}
.two-cols:last-child {
  margin-top: 1rem;
}
@media (min-width: 480px) {
  .two-cols {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 1fr 1fr;
  }
  .two-cols-2-1 {
    grid-template-columns: 1fr 2fr;
  }
}
.fit-to-lines {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.links a {
  display: block;
  padding: 0.5rem 1rem;
}
.links a:not(:first-of-type) {
  margin-top: 9px;
}
.links a:hover {
  background: #f0f0f0;
}
@media (min-width: 640px) {
  .links a {
    display: inline-block;
    padding: 0 0.8rem;
  }
}
#show-toggle1:checked ~ #toggle1,
#show-toggle2:checked ~ #toggle2,
#show-toggle3:checked ~ #toggle3 {
  display: inherit;
}
summary {
  cursor: pointer;
}
summary:focus {
  color: var(--color-secondary);
  font-weight: 800;
  outline: none;
}
.breadcrumb {
  display: inline-flex;
}
.breadcrumb .wide-screen {
  display: none;
}
@media (min-width: 640px) {
  .breadcrumb .small-screen {
    display: none;
  }
  .breadcrumb .wide-screen {
    display: initial;
  }
}
.breadcrumb a {
  color: var(--blue);
  text-decoration: underline;
}
.breadcrumb li {
  margin-right: 0.7rem;
}
.error-message {
  align-items: center;
  color: grey;
  display: flex;
  font-size: 3rem;
  justify-content: center;
}
.paginator {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.crosshair {
  cursor: crosshair;
}
.help {
  cursor: help;
}
.pointer {
  cursor: pointer;
}
/**
 * Margins
 *
 */
.all-0 {
  margin: 0;
}
.all-1 {
  margin: 1%;
}
.all-2 {
  margin: 2%;
}
.all-5 {
  margin: 5%;
}
.all-10 {
  margin: 10%;
}
.both-0 {
  margin-left: 0;
  margin-right: 0;
}
.both-1 {
  margin-left: 1%;
  margin-right: 1%;
}
.both-2 {
  margin-left: 2%;
  margin-right: 2%;
}
.both-5 {
  margin-left: 5%;
  margin-right: 5%;
}
.both-10 {
  margin-left: 10%;
  margin-right: 10%;
}
.both-auto {
  margin-left: auto;
  margin-right: auto;
}
.bottom-0 {
  margin-bottom: 0;
}
.bottom-1 {
  margin-bottom: 1%;
}
.bottom-2 {
  margin-bottom: 2%;
}
.bottom-5 {
  margin-bottom: 5%;
}
.bottom-10 {
  margin-bottom: 10%;
}
.left-0 {
  margin-left: 0;
}
.left-1 {
  margin-left: 1%;
}
.left-2 {
  margin-left: 2%;
}
.left-5 {
  margin-left: 5%;
}
.left-10 {
  margin-left: 10%;
}
.right-0 {
  margin-right: 0;
}
.right-1 {
  margin-right: 1%;
}
.right-2 {
  margin-right: 2%;
}
.right-5 {
  margin-right: 5%;
}
.right-10 {
  margin-right: 10%;
}
.top-0 {
  margin-top: 0;
}
.top-1 {
  margin-top: 1%;
}
.top-2 {
  margin-top: 2%;
}
.top-5 {
  margin-top: 5%;
}
.top-10 {
  margin-top: 10%;
}
/**
 * Paddings
 *
 */
.pad-0 {
  padding: 0;
}
.pad-1 {
  padding: 1%;
}
.pad-2 {
  padding: 2%;
}
.pad-5 {
  padding: 5%;
}
.pad-10 {
  padding: 10%;
}
.pad-both-0 {
  padding-left: 0;
  padding-right: 0;
}
.pad-both-1 {
  padding-left: 1%;
  padding-right: 1%;
}
.pad-both-2 {
  padding-left: 2%;
  padding-right: 2%;
}
.pad-both-5 {
  padding-left: 5%;
  padding-right: 5%;
}
.pad-both-10 {
  padding-left: 10%;
  padding-right: 10%;
}
.pad-b-0 {
  padding-bottom: 0;
}
.pad-b-1 {
  padding-bottom: 1%;
}
.pad-b-2 {
  padding-bottom: 2%;
}
.pad-b-5 {
  padding-bottom: 5%;
}
.pad-b-10 {
  padding-bottom: 10%;
}
.pad-l-0 {
  padding-left: 0;
}
.pad-l-1 {
  padding-left: 1%;
}
.pad-l-2 {
  padding-left: 2%;
}
.pad-l-5 {
  padding-left: 5%;
}
.pad-l-10 {
  padding-left: 10%;
}
.pad-r-0 {
  padding-right: 0;
}
.pad-r-1 {
  padding-right: 1%;
}
.pad-r-2 {
  padding-right: 2%;
}
.pad-r-5 {
  padding-right: 5%;
}
.pad-r-10 {
  padding-right: 10%;
}
.pad-t-0 {
  padding-top: 0;
}
.pad-t-1 {
  padding-top: 1%;
}
.pad-t-2 {
  padding-top: 2%;
}
.pad-t-5 {
  padding-top: 5%;
}
.pad-t-10 {
  padding-top: 10%;
}
/**
 * Positions
 *
 */
.pos-abs,
.absolute {
  position: absolute;
}
.pos-fix,
.fixed {
  position: fixed;
}
.pos-inh,
.inherit {
  position: inherit;
}
.pos-rel,
.relative {
  position: relative;
}
.pos-sta,
.static {
  position: static;
}
.pos-sti,
.sticky {
  position: sticky;
}
.to-bottom {
  bottom: 0;
}
.to-left {
  left: 0;
}
.to-right {
  right: 0;
}
.to-top {
  top: 0;
}
.top-none {
  position: absolute;
  top: -200vh;
}
.clear {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/**
 * Box Sizes
 *
 */
.h-10 {
  height: 10%;
}
.h-20 {
  height: 20%;
}
.h-25 {
  height: 25%;
}
.h-30 {
  height: 30%;
}
.h-40 {
  height: 40%;
}
.h-50 {
  height: 50%;
}
.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-80 {
  height: 80%;
}
.h-90 {
  height: 90%;
}
.h-100 {
  height: 100%;
}
.hm-1 {
  min-height: 10px;
}
.hm-2 {
  min-height: 20px;
}
.hm-3 {
  min-height: 30px;
}
.hm-4 {
  min-height: 40px;
}
.hm-5 {
  min-height: 50px;
}
.hm-10 {
  min-height: 100px;
}
.hm-15 {
  min-height: 150px;
}
.hm-20 {
  min-height: 200px;
}
.hm-25 {
  min-height: 250px;
}
.hm-30 {
  min-height: 300px;
}
.hm-40 {
  min-height: 400px;
}
.hm-50 {
  min-height: 500px;
}
.hmx-1 {
  max-height: 10px;
}
.hmx-2 {
  max-height: 20px;
}
.hmx-3 {
  max-height: 30px;
}
.hmx-4 {
  max-height: 40px;
}
.hmx-5 {
  max-height: 50px;
}
.hmx-10 {
  max-height: 100px;
}
.hmx-15 {
  max-height: 150px;
}
.hmx-20 {
  max-height: 200px;
}
.hmx-25 {
  max-height: 250px;
}
.hmx-30 {
  max-height: 300px;
}
.hmx-40 {
  max-height: 400px;
}
.hmx-50 {
  max-height: 500px;
}
.w-5 {
  width: 5%;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}
.wm-1 {
  min-width: 10px;
}
.wm-2 {
  min-width: 20px;
}
.wm-3 {
  min-width: 30px;
}
.wm-4 {
  min-width: 40px;
}
.wm-5 {
  min-width: 50px;
}
.wm-10 {
  min-width: 100px;
}
.wm-15 {
  min-width: 150px;
}
.wm-20 {
  min-width: 200px;
}
.wm-25 {
  min-width: 250px;
}
.wm-30 {
  min-width: 300px;
}
.wm-40 {
  min-width: 400px;
}
.wm-50 {
  min-width: 500px;
}
.wmx-1 {
  max-width: 10px;
}
.wmx-2 {
  max-width: 20px;
}
.wmx-3 {
  max-width: 30px;
}
.wmx-4 {
  max-width: 40px;
}
.wmx-5 {
  max-width: 50px;
}
.wmx-10 {
  max-width: 100px;
}
.wmx-15 {
  max-width: 150px;
}
.wmx-20 {
  max-width: 200px;
}
.wmx-25 {
  max-width: 250px;
}
.wmx-30 {
  max-width: 300px;
}
.wmx-40 {
  max-width: 400px;
}
.wmx-50 {
  max-width: 500px;
}
.wmx-60 {
    max-width: 600px;
}
.wmx-70 {
    max-width: 700px;
}
.wmx-80 {
    max-width: 800px;
}
.wmx-90 {
    max-width: 900px;
}
.wmx-100 {
    max-width: 1000px;
}
.wmx-110 {
    max-width: 1100px;
}
.wmx-120 {
    max-width: 1200px;
}
/**
 * Displays
 *
 */
.block {
  display: block;
}
.contents {
  display: contents;
}
.flex {
  display: flex;
}
.flex-around {
  justify-content: space-around;
}
.flex-both {
  justify-content: space-between;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-end {
  justify-content: flex-end;
}
.flex-start {
  justify-content: start;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.inline-flex {
  display: inline-flex;
}
.none {
  display: none !important;
}
.align-baseline {
  align-items: baseline;
}
.align-center {
  align-items: center;
}
ul.inline-block-items li {
  display: inline-block;
}
.grid-2-5 {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
/**
 * Forms
 *
 */
input,
select,
textarea {
  border-width: 1.5px;
}
input[type=checkbox],
input[type=radio] {
  height: 1.2rem;
  width: 1.2rem;
}
label sup {
  color: var(--red);
  font-weight: 700;
}
form .is-invalid {
  border-color: var(--red);
}
form .warn {
  margin-top: 0.5rem;
}
form fieldset {
  margin: 1rem 0;
  padding: 1rem;
}
select option {
  color: var(--blue);
}
.button-group {
  margin: 2rem auto 1rem;
}
.form-content {
  border: 1px solid #ccc;
  min-height: auto;
  padding: 6px 12px;
}
.form-group .check-option,
.form-group.check-group,
.form-group.check-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.check-group {
  align-items: center;
}
.check-group input {
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
.check-option input {
  height: 1.5rem;
  width: 2rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: space-between;
}
.form-group.top-0 {
  margin-top: 0;
}
.form-group input,
.form-group select,
.form-group textarea {
  padding: 0.5rem;
}
.button-group .btn.border-error {
  border-color: var(--red);
}
.button-group .btn.border-success {
  border-color: var(--green);
}
.button-tabs {
  display: flex;
  justify-content: flex-start;
}
.button-tabs .btn,
.button-tabs .btn:focus {
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 0 !important;
}
.button-tabs .btn-active {
  background: #E5E5E5 !important;
}
.tab * {
  text-align: left;
}
/**
* Tables
*
*/
table {
  border-collapse: collapse;
}
table.small-cells td {
  padding: 0.25rem;
}
table.table-striped tbody tr:nth-child(even) *:not(.btn):not(svg) {
  background: var(--lavender);
}
table td.left-content {
  text-align: left;
}
table td.right-content {
  text-align: right;
}
table tr.left-content td,
table tr.left-content th {
  text-align: left;
}
table tr.right-content td,
table tr.right-content th {
  text-align: right;
}
table td,
table th {
  border: 1px solid grey;
  display: table-cell;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
}
table th,
table th * {
  background: var(--color-lighter);
  color: white;
  font-weight: 900;
}
.striped-rows li:nth-child(even) *,
.striped-rows li:nth-child(even) div,
.striped-rows li:nth-child(even) p *,
.striped-rows li:nth-child(even) p,
.striped-rows li:nth-child(even),
.striped-rows tr:nth-child(even) *,
.striped-rows tr:nth-child(even) div,
.striped-rows tr:nth-child(even) p *,
.striped-rows tr:nth-child(even) p,
.striped-rows tr:nth-child(even) {
  background: #f2f2f2;
}
body {
  height: 100vh;
}
footer,
header,
main {
  padding: 1rem;
}
.private footer {
  height: 8vh;
}
.private header {
  height: 20vh;
}
.private main {
  height: 72vh;
}
.public footer {
  height: 8vh;
}
.public header {
  height: 20vh;
}
.public main {
  height: 72vh;
}
