
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing  : border-box;
    font-family : 'Nunito', sans-serif;
    font-weight : 200;
    margin      : 0;
    padding     : 0;
    text-align  : center;
    text-decoration : none;
}

body {
    font-size: 14px;
    height   : 100%;
    position : relative;
}
body * {
    background: #fff;
}
img {
    width: 100%;
}
figure,
picture {
    display: block;
}
form *,
main * {
    text-align: left;
}
h1,h2,h3,h4,h5,h6,
strong,
strong * {
    font-weight : 600;
}
li {
    list-style-type: none;
}
figcaption,
figure {
    text-align: center;
}
.disc li {
    list-style: disc;
}
