.border-top {
    border-top: 1px solid grey;
}
.cblue {
    color: rgb(91, 133, 211);
}
.cgrey {
    color:grey;
}
.flex {
    display: flex;
}
.flex-both {
    justify-content: space-between;
}
.right-content {
    text-align: right;
}
.top-2 {
    margin-top: 2%;
}
.top-5 {
    margin-top: 5%;
}
.left-5 {
    margin-left: 5%;
}

/* custom styles */
.content {
    margin    : 2rem auto;
    max-width : 920px;
    width     : 90%;
}
header nav div {
    width: 130px;
}
