body {
    padding: 8%;
}

select {
    padding : 9px;
    width   : 100%;
}
select#hidden_columns option {
    background-color: rgba(0, 0, 0, 0.782);
    color           : white
}

table {
    border-collapse:collapse;
}
option,
td,
th {
    border        : 1px solid grey;
    border-radius : 3px;
    padding       : .25em 1em;
    text-align    : center;
}
th {
    background: rgba(153, 187, 238, 0.25);
}


body .none {
    display: none;
}
.right-2 {
    margin-right: 2%
}
.top-2 {
    margin-top: 2%;
}

.align-center {
    align-items: center;
}
.flex {
    display: flex;
}
.flex-floor {
    display         : flex;
    flex-direction  : column;
    justify-content : end;
}
.column-content * {
    display: block;
}
